{
  res:
    base: "base01",
    gen: "gen01"

  pref:
    a: 'AAA'

  macro: {
    copy:{steps:[
      { name:'find', opt:{paths:'#{arg.from}'}},
      { name:'for', opt:{
          each:'#{gen.paths}'
          steps:[
            { name:'load',  opt:{path:'#{gen.item}'}},
            { name:'save',  opt:{path:'#{arg.to}/#{gen.resource.name}'}},
          ]                     
      }},

    ]}

    template:{steps:[
      { name:'find', argopt:'$'},
      { name:'print', opt:{msg:'paths=#{gen.paths}'}},            

      { name:'for', opt:{
          each:'#{gen.paths}'
          steps:[
            { name:'print', opt:{msg:'path=#{gen.item}'}},
            { name:'load',  opt:{path:'#{gen.item}'}},

            { name:'insert',  opt:{on:'gen.resource.text'}},
            { name:'ejs',     opt:{on:'gen.resource.text'}},

            { name:'print', opt:{msg:'resource=#{gen.resource}'}},
            { name:'save',  opt:{}},
          ]                     
      }},

    ]}
  }

  steps: [
    { name:'copy', opt:{ from:'www/css/*.css', to:'www' } }
    { name:'template', opt:{ paths:'www/*.html' } }
  ]
}


