{
  res:
    base: "base01",
    gen:  "gen01"

  pref:
    fail: false,
    pass: true,
    foo: 'bar',
    color: {r:1,g:2,b:3},
    nums: ['one','two','three'],

  steps: [
    { name:'print', msg:'first'}
    { name:'print', msg:'#{pref.foo}'}
    { name:'print', msg:'-#{pref.foo}-'}
    { name:'print', msg:'##{pref.foo}'}
    { name:'print', msg:{a:1}}
    { name:'print', msg:'#{pref.color}'}


    { name:'print', opt:{ if:"pref.fail", msg:'FAIL' } }
    { name:'print', opt:{ if:"pref.pass", msg:'PASS' } }

    { name:'expect', opt:{ expect:'cathy', value:'#{opt.alice}', alice:'#{opt.bob}', bob:'cathy' } }

    { name:'iterate', opt:{ 
      list: ['aa','bb','cc'],
      index:0,
      steps:[{ name:'print', opt:{ msg:'#{gen.item}' } }]
    }}

    { name:'print', opt:{ msg:'after iterate' } }

    { name:'for', opt:{
      each:'#{pref.nums}',
      steps:[{ name:'print', opt:{ msg:'#{gen.item}' } }]
    }}

    { name:'print', opt:{ msg:'after each' } }

  ]
}


