{
  res:
    base: "base",
    gen: "gen"

  conf: {}
   
  steps: [
    { name: "fork", opts:{
      forks: [ {name:"ios"}, {name:"android"} ]
    }},

    { name:'template', path:'index.html' },
    { name:'import', path:'img/*.png' },
    { name:'import', path:'css/*.css', exclude:'css/style-*.css' },
    { name:'import', path:'js/*.js' },

    { name:'template', path:'css/style-${name}.css', save:'css/style.css' },
    { name:'import', path:'img-${name}/*.*', save:'img/${gen.resource.name}' },
  ]
}

