{
  res:
    base: "base",
    gen: "gen"

  pref: {}
   
  steps: [
    { name: "fork", opts:{
      forks: [ {name:"ios"}, {name:"android"} ]
    }},

    { name:'save', opts:{ path:'index.html' } },
    { name:'save', opts:{ src:'img/*.png', path:'img/#{res.$name}' } },
    { name:'save', opts:{ src:'css/*.css', path:'css/#{res.$name}' } },
    { name:'save', opts:{ src:'js/*.js', path:'js/#{res.$name}' } },

    { name:'save', opts:{ src:'css/style-#{name}.css', path:'css/style.css' } },
    { name:'save', opts:{ src:'img-#{name}/*.*', path:'img/#{res.$name}', required:false } },
  ]
}


